.header {
  width: 80%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
}

.header p {
    flex: 3;
    text-align: center;
  }